.header {
  background: #358fd8;
}

.header, .header a {
  color: #fff;
}

.header  {
  margin: 0;
  height:116px;
  overflow: visible;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  margin-bottom:10px;
}

.header h1 {
  font-size: 40px;
}

.header h4 {
  font-size: 16px;
  color: #c9dff0;
}

.header .titles {
  padding-top: 4px;
}

.main-container {
  clear: left;
}

.container {
  max-width:970px;
}

.posts img {
  margin: 0 auto;
}

/* Link Sprites
-------------------------------------------------- */

.icons {
  width: 80px;
  margin-top:78px;
}

.icons a {
  float: left;
  display: block;
  background: url(../img/icon_sprite.png) no-repeat;
  height: 17px;
  width: 17px;
  margin-right: 2px;
}

a.pokemon {
  background-position: 0 bottom;
}
a.pokemon:active, a.pokemon:hover {
  background-position: 0 top;
}

a.github {
  background-position: -19px bottom;
}
a.github:active, a.github:hover {
  background-position: -19px top;
}

a.twitter {
  background-position: -38px bottom;
}
a.twitter:active, a.twitter:hover {
  background-position: -38px top;
}

a.email {
  width:20px;
}

a.email {
  background-position: -56px bottom;
}
a.email:active, a.email:hover {
  background-position: -56px top;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Droid Serif', serif;
}

h2 {
  color: #767676;
}

h5 {
  font-weight: bold;
}

hr {
  border-top: 4px solid #efefef;
}

p, div {
  font-family: 'Droid Serif', serif;
}

ul.posts {
  padding-left: 0;
}

ul.posts li {
  list-style: none;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 120px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  /* Set the fixed height of the footer here */
  height: 120px;
  background-color: #f5f5f5;
}
